input ~ .tab { display: none }
#getTab:checked ~ .tab.getContent,
#postTab:checked ~ .tab.postContent,
#putTab:checked ~ .tab.putContent,
#deleteTab:checked ~ .tab.deleteContent { display: block; }
body {
  padding: 20px;
}
* {
  margin: 10px;
}
input {
  margin: 10px;
}
label {
  margin: 10px ;
}