<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>[%level] [%d{MM:dd HH:mm:ss}] [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>
  <appender class="ch.qos.logback.core.FileAppender" name="FILE_WARN">
    <encoder>
      <pattern>[%level] [%d{MM:dd HH:mm:ss}] [%file:%line] %msg%n</pattern>
    </encoder>
    <file>src/test/resources/WARN-logback.log</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>
  <appender class="ch.qos.logback.core.FileAppender" name="FILE_INFO">
    <encoder>
      <pattern>[%level] [%d{MM:dd HH:mm:ss}] [%file:%line] %msg%n</pattern>
    </encoder>
    <file>src/test/resources/INFO-logback.log</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>
  <root level="info">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE_WARN"/>
    <appender-ref ref="FILE_INFO"/>
  </root>
</configuration>